@import "variables";

.btn {
    &,
    &:link,
    &:visited {
        padding: 0.5rem 1.5rem;
        font-weight: 500;
        border-radius: 0;
        font-size: $html-font-size;
    }

    &--primary,
    &--secondary,
    &--tertiary {
        min-width: rem(175px);
    }

    &--primary {
        background-color: var(--color-primary);
        color: white;
        border: none;
        // outline: 2px solid var(--color-primary);
        &:hover {
            color: #ffffff;
            background-color: var(--color-orange);
        }
        &:focus {
            outline: 2px solid var(----color-grey);
        }
    }

    &--secondary {
        background-color: transparent;
        color: #ffffff;
        border: none;
        outline: 2px solid #ffffff;
        position: relative;
        cursor: pointer;
        overflow: hidden;

        span {
            position: relative;
        }

        &:before {
            --size: 0;
            content: "";
            position: absolute;
            left: var(--x);
            top: var(--y);
            width: var(--size);
            height: var(--size);
            background: radial-gradient(circle closest-side, var(--color-orange), transparent);
            transform: translate(-50%, -50%);
            transition: width 0.2s ease, height 0.2s ease;
        }

        &:hover {
            color: #ffffff;
        }
        &:focus {
            outline: 2px solid var(--color-title);
        }

        &:hover:before {
            --size: 200px;
        }
    }

    &--tertiary {
        background-color: #ffffff;
        color: var(--color-title);
        border: none;
        outline: 3px solid var(--color-title);
        &:hover {
            background-color: var(--color-blue-2);
            color: #ffffff;
        }
        &:focus {
            background-color: #ffffff;
            color: var(--color-title);
            outline: 3px solid var(--color-grey);
        }
    }

    &--blue {
        background-color: var(--color-title);
        color: #ffffff;
        border: none;
        outline: 3px solid var(--color-title);
        &:hover {
            background-color: var(--color-blue-2);
            color: #ffffff;
        }
        &:focus {
            outline: 3px solid var(--color-grey);
        }
    }

    // &--search {
    //   border: 1px solid var(--color-grey);
    // }

    // &--edit {
    //   &:focus {
    //     outline: 3px solid var(--color-green);
    //     box-shadow: none;
    //   }
}




