:root {
    --color-primary: #FB7669;
    --color-secondary: #FEF3DA;

    --color-title: #17213b;
    --color-text: #545457;
    --color-disable-text: #B2B2B2;
    --color-disable-frane: #E2E2E2;

    --color-blue-light-1: #EBF3FE;
    --color-blue-light-2:  #96C2FE;
	--color-blue-2: #1A2D5D;
    --color-purple-2:  #848DE6;
	--color-orange:#EE4B3B;
	--color-purple: #4D3F61;
	--color-yellow:	#F8BF6A;

	--color-grey: #9DA3B4;
	--color-grey-2: #3A3F49;
	--color-offwhite:#F8F8F8;
	--color-offwhite-2:#F8F9FA;
	--color-grey-dark: #001328;

    --shadow-dark: 0 2rem 6rem rgba(0,0,0,.3);
    --shadow-light: 0 2rem 5rem rgba(0,0,0,.06);
}


//set default font-size
$html-font-size: 16px;

//https://medium.com/@bhargav3shah/scss-convert-pixel-values-to-rem-using-functions-f1cef575edfd
@function stripUnit($value) {
	@return $value / ($value * 0 + 1);
}

// Converts px to rems
@function rem($pxValue) {
	@return #{stripUnit($pxValue) / stripUnit($html-font-size)}rem;
}


/*
Here we override our variables
*/
$container-max-widths: (
	sm: 540px,
	md: 720px,
	lg: 960px,
	xl: 1140px,
	xxl: 1280px /* update by SciFY*/,
);

$grid-breakpoints: (
	xs: 0,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1200px,
	xxl: 1500px /* this will be never triggered, since our max-container size is 1280*/,
);
