@import "variables";
@import "variables_and_functions";
@import "box_and_tables";


@import "../plugins/dashboard-skeleton-bs-5/sidebar-skeleton-compostrap/dist/css/sidebar.css";
@import url(https://cdnjs.cloudflare.com/ajax/libs/jquery.perfect-scrollbar/1.5.0/css/perfect-scrollbar.css);
@import "../plugins/dashboard-skeleton-bs-5/sidebar-menu-compostrap/dist/css/sidebar.menu.css";
@import "../plugins/dashboard-skeleton-bs-5/dist/css/dashboard.css";

.menu {
    background-color: var(--color-purple);
}


.dashboard-content {
    background: linear-gradient(90deg, #ffffff 50%, var(--color-offwhite-2) 50%);
    padding-top: 52px;

    @media (max-width: 768px) {
        background: #ffffff;
    }

    .btn--tertiary {
        font-weight: 400;
        padding: 0.5rem 2rem;
    }

    .navbar {
        @media (max-width: 768px) {
            justify-content: flex-end;
        }
        .navbar-toggler-icon {
            background-image: none;
            width: 100%;
        }
        .navbar-toggler:focus,
        .navbar-toggler:active,
        .navbar-toggler-icon:focus {
            outline: none;
            box-shadow: none;
        }
    }

    .sidebar {
        padding-top: 65px;

        .ps__rail-x {
            display: none;
        }
    }

    #welcome,
    #stepper,
    #total-purchases,
    #saved-items,
    #history-purchased,
    #my-account-settings {

        background-color: var(--color-offwhite-2);
        padding: 50px 50px 600px 50px;
        margin-top: -15px;
        @media (max-width: 900px) {
            padding: 50px 20px 550px 20px;
        }
        @media (max-width: 768px) {
            margin-top: 46px;
        }

        a {
            color: var(--color-purple-2);
            &:hover {
                color: var(--color-yellow);
            }
        }

        #digital-signature  {
            max-width: 400px;
            a {

            word-break: break-word;
        }
    }
    }

    #welcome {
        margin-top: -16px;

        .bar-template {
            background-color: #ffffff;
            max-width: rem(825px);

            // @media (max-width: 768px) {
            //     max-width: rem(285px);
            // }



            .btn--blue {
                min-width: rem(224px);
                color: #ffffff;


                padding: 0.5rem 1rem;
            }
        }
    }

    #stepper {
        margin-top: -85px;
        .steps {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 2rem;
            position: relative;
            background-color: #ffffff;
            padding: 20px 10px;
            .step-item {
                z-index: 10;
                text-align: center;
                .step-button {
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    border: none;
                    background-color: var(--color-blue-light-1);
                    transition: 0.4s;

                    &[aria-expanded="true"] {
                        width: 30px;
                        height: 30px;
                        background-color: var(--color-purple-2);
                        color: #fff;
                    }

                    &.done {
                        background-color: var(--color-purple-2);
                        color: #fff;
                    }
                }
            }
        }

        .step-button[aria-expanded="true"] {
            width: 30px;
            height: 30px;
            background-color: var(--color-purple-2);
            color: #fff;
        }

        #progress {
            -webkit-appearance: none;
            position: absolute;
            width: 85%;
            z-index: 5;
            height: 3px;
            top: 23%;
            margin-left: 35px;
            margin-bottom: 18px;
            /* to customize progress bar */
            &::-webkit-progress-value {
                background-color: var(--color-grey-dark);
                transition: 0.5s ease;
            }

            &::-webkit-progress-bar {
                background-color: var(--color-grey);
            }
        }

        .step-card {
            &__content {
                background-color: #ffffff;
            }
        }

        #service {
            form {
                #logo-netapp {
                    background-color: #ffffff;
                    border: none;
                }
            }
        }
    }

    // a {
    //     color: var(--color-purple-2);
    //     font-weight: 700;
    // }

    #pricing {
        #once-off {
            .choose-cost {
                background-color: var(--color-blue-light-1);
            }
        }

        #pay-as-you-go {
            .plan-table-card {
                background-color: var(--color-blue-light-1);
                &__form {
                    background-color: #f3f7fe;
                    position: relative;
                    margin: 0 -16px 0 -16px;

                    .check-and-trash {
                        position: absolute;
                        top: 10px;
                        right: 10px;

                        .fa-trash {
                            color: var(--color-primary);
                        }
                    }

                    .form-check-input:checked {
                        background-color: var(--color-purple-2);
                        border-color: var(--color-purple-2);
                    }

                    .form-check-input:checked[type="checkbox"] {
                        background-image: url("../img/rectangle.png");
                    }
                }
                &__add {
                    background-color: var(--color-secondary);
                    margin: 0 -16px 0 -16px;
                    border: 1px solid var(--color-blue-light-2);
                }
            }
            .new-table {
                color: var(--color-primary);
                border: 2px solid var(--color-primary);
            }
        }
    }

    .step-actions {
        .btn--blue {
            min-width: rem(185px);
        }



        .modal-dialog {
            max-width: 945px;
            .modal-content {
                align-items: center;
                .btn-close {
                    position: absolute;
                    top: 10px;
                    right: 10px;
                }

                h1 {
                    color: var(--color-title);
                }

                .modal-header,
                .modal-body {
                    border-bottom: none;
                }
                .modal-footer {
                    border-top: none;
                    display: contents;
                }
            }
        }
    }



    #my-account-settings {
        h4 {
            display: inline-block;
        }

        a {
            float: right;
        }

        p {
            font-weight: 600;
        }
    }
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #f8f9fa;
    font-family: 'Roboto', sans-serif;
}

.form_section {
    background-color: var(--color-offwhite-2);
    flex: 1;
    padding: 50px 50px 600px 50px;
    margin: 0;

    @media (max-width: 900px) {
        padding: 50px 20px 550px 20px;
    }
}

.form_field_main input {
    border-radius: 4px;
    background: transparent;
    border: 1px solid #e5e5e5;
    min-height: 44px;
    padding: 0 14px;
    font-weight: 400;
    font-size: 16px;
    text-align: left;
    color: #344767;
}

.form_field_main input:focus {
    background: transparent;
    border: 1px solid #344767;
    box-shadow: none;
    outline: none;
    color: #344767;
}

.form_field_main input::placeholder {
    color: #344767;
}

.form_field_main label {
    font-weight: 400;
    font-size: 14px;
    text-align: left;
    color: #777;
    margin-bottom: 4px;
}

.form_field_main {
    margin-bottom: 12px;
}

.align_url_field input:first-child {
    width: 120px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 0;
}

.align_url_field input:last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.align_url_field {
    display: flex;
}

.form_title {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.tabs_start .nav li button.active {
    background: rgb(255 193 7 / 40%);
    border-radius: 0px;
    border: none;
}

.tabs_start .nav li button:hover {
    border: none;
}

.tabs_start ul {
    padding-bottom: 12px;
}

.tabs_start .nav li button {
    color: #000;
    font-size: 14px;
    margin-right: 20px;
    padding: 6px 10px;
    font-weight: 500;
    text-align: center;
    display: block;
    width: 100%;
    text-decoration: none;
}

.form_title a {
    color: #5e72e4;
    font-weight: 500;
    font-weight: 16px;
    text-decoration: underline;
}

.over_field label {
    font-weight: 16px;
    margin: 0;
    font-weight: 500;
    margin-right: 1rem;
}

.over_field select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: 14px;
    font-weight: 400;
    border-right: 4px;
    border: 2px solid #80bdff;
    background: rgb(0 123 255 / 7%);
}

.over_field {
    display: flex;
    align-items: center;
}

.over_field .status_select {
    position: relative;
}

.over_field .status_select::before {
    border-style: solid;
    border-width: 1px 1px 0 0;
    content: '';
    display: inline-block;
    height: 0.45em;
    vertical-align: top;
    width: 0.45em;
    transform: rotate(135deg);
    position: absolute;
    right: 11px;
    top: 12px;
}

.status_select p {
    font-size: 12px;
    color: #777;
    margin: 0;
}

.over_main {
    padding: 2rem;
    background: #fff;
    margin-bottom: 2rem;
}
#pay-as-you-go {
    .plan-table-card {
        background-color: var(--color-blue-light-1);
        &__form {
            background-color: #f3f7fe;
            position: relative;
            margin: 0 -16px 0 -16px;

            .check-and-trash {
               position: absolute;
               top: 10px;
               right: 10px;

               .fa-trash{
                   color: var(--color-primary);
               }
            }

            .form-check-input:checked {
                background-color: var(--color-purple-2);
                border-color: var(--color-purple-2);
            }

            .form-check-input:checked[type=checkbox] {
                background-image: url("../img/rectangle.png");
            }
        }
        &__add {
            background-color: var(--color-secondary);
            margin: 0 -16px 0 -16px;
            border: 1px solid var(--color-blue-light-2);
        }
    }
    .new-table {
        color: var(--color-primary);
           border: 2px solid var(--color-primary);
    }
}
.product-list__card{
    height: auto !important;
    .tags{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        .text-details{
            font-weight: 700;
            margin: 2px 2px;
            background: #4d4062;
            padding: 5px;
            border-radius: 0px;
            color: #fff;
            text-decoration: none;
            font-weight: 700;
        // background: #4d4062;
        // color: #fff;
        // text-decoration: none;
        // padding: 3px;
        // margin: 3px;
        }
    }
}
.product-content .products .product-list__card--content a {
    /* color: var(--color-purple-2); */
    font-weight: 700;
    margin: 2px 2px;
    background: #4d4062;
    padding: 5px;
    border-radius: 0px;
    color: #fff;
    text-decoration: none;
}

.tooltip {
    position: relative;
    display: inline-block;
    opacity: 1;
  }

  .tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }

  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

  #no-net-apps {
      font-style: italic;
  }
