@import "variables";
@import "variables_and_functions";

.footer {
    a {
        text-decoration: none;
    }
    &__info {
        background-color: var(--color-primary);
        padding: 100px;
        @media screen and (max-width: 992px) {
            padding: 50px;
        }

        .social {
            max-width: 240px;
            color: var(--color-title);
        }

        ul {
            list-style: none;

            h2 {
                color: var(--color-title);
                font-family: "Source Sans Pro", sans-serif;
            }

            a {
                color: #ffffff;
            }
        }
    }
    &__copyrights {
        background-color: var(--color-offwhite);
        color: var(--color-title);
    }
}
